/* Colors and fonts */

body {
	background: rgb(189, 214, 219);
	color: rgb(50, 50, 50);
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}

h1, h2, h3 {
	font-family:'Oswald', sans-serif;

}

h1 {
	color: rgb(89, 153, 106);
	font-size: 32px;
}

h2 {
	color: rgb(46, 99, 96);
	font-size: 24px;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: rgb(89, 153, 106)
	font-weight: bold;
}
a:hover {
	color: rgb(89, 160, 106);
}


/* Custom design and class */

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 960px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 720px) {
	.container {
		width: 500px;
	}
}

@media (max-width: 540px) {
	.container {
		width: 300px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px ;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: rgb(189, 214, 219);
	color: rgb(89, 153, 106);
	padding: 10px 20px ;
	border-radius: 4px; 
}

.btn-blue:hover {
	background-color: rgb(89, 160, 106);
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 40px;
	color: rgb(189, 214, 219);
}

.list-inline i:hover {
	color: rgb(89, 160, 106);
}

#introduction p {
	margin-bottom: 40px;
}
